<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [ngClass]="{'completed':todo.completado,'editing':editing}">
    <div class="view">
        <input class="toggle" type="checkbox" [formControl]="chkCompletado">
        <label (dblclick)="edit()">{{todo.texto}}</label>
        <button class="destroy" (click)="remove()"></button>
    </div>
    <input class="edit" value="Create a TodoMVC template" [formControl]="txtInput" (blur)="closeEdit()" #inputEdit>
</li>